@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/padding" as *;

.profile {
  display: flex;
  align-items: center;
  gap: $mobile-between-comp;
  justify-content: space-between;
  padding: $mobile-before-headline $mobile-between-comp 0 $mobile-between-comp;

  @include desktoptablet {
    padding: $desktoptablet-before-headline $desktoptablet-between-comp 0
      $desktoptablet-between-comp;
  }

  &__nav {
    display: flex;
    gap: $mobile-between-comp;

    @include desktoptablet {
      gap: $desktoptablet-between-comp;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: $mobile-between-comp;

    @include desktoptablet {
      gap: $desktoptablet-between-comp;
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  &__username {
    color: $jet;
  }

  &__logout {
    text-decoration: none;
    color: $jet;
  }
  &__link {
    &--disabled {
      color: $grey;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
