@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/padding" as *;

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__subtitle {
    padding-left: $mobile-between-comp;
  }
  &__emphasized {
    color: $orange;
  }
}
