@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/padding" as *;

.jumbotron {
  background-image: url("../../assets/images/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
@include desktoptablet {
  height: 60vh;

}
  &__banner {
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 0.75rem 1rem;
    background: $snow;
    overflow: hidden;
    @include apply-left-right-mar($mobile-between-comp, $mobile-between-comp);

    @include desktoptablet {
      @include apply-left-right-mar(7rem, 7rem);
    }

    &::before {
      content: "";
      position: absolute;
      top: -3px; /* Adjust based on border width */
      right: -3px; /* Adjust based on border width */
      bottom: -3px; /* Adjust based on border width */
      left: -3px; /* Adjust based on border width */
      z-index: -1;
      background: linear-gradient(
        90deg,
        rgba(63, 130, 109, 1) 0%,
        rgba(254, 168, 47, 1) 50%
      );
      border-radius: inherit; /* Adjust based on your element's border-radius */
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: white;
      margin: 3px; /* Adjust based on border width */
      border-radius: inherit; /* Adjust based on your element's border-radius */
    }
  }
}
