@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/padding" as *;

.hobby-card {
  background-color: $orange;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  border-radius: 8px;
  position: relative;
  padding: $mobile-before-headline $mobile-between-comp;

  &__image {
    width: 200px;
    height: 150px;
    border-radius: 8px;
  }

  &__title {
    color: $snow;
    margin-top: 10px;
    text-align: left;
  }

  &__description {
    color: $snow;
    font-size: 12px;
    text-align: left;
  }

  &__choose {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__checked {
    width: 30px;
    height: 30px;
    background-color: $orange;
    border-radius: 8px;
  }
}
