//Desktop and tablet padding
$desktoptablet-before-headline: 2.25rem;
$desktoptablet-after-headline: 1.5rem;
$desktoptablet-between-comp: 2.125rem;

//Mobile padding
$mobile-before-headline: 1.5rem;
$mobile-after-headline: 1rem;
$mobile-between-comp: 1rem;