//Page header
$page-text-size: 2.0625rem;
$page-line-height: 2.75rem;
$page-text-weight: 700;

//Section header
$section-text-size: 0.75rem;
$section-line-height: 1.25rem;
$section-text-weight: 700;

//Subheader
$sub-text-size: 0.875rem;
$sub-line-height: 1.375rem;
$sub-text-weight: 700;

//Body Copy
$body-text-size: 0.875rem;
$body-line-height: 1.375rem;
$body-text-weight: 400;

//Labels and Buttons
$lblbtn-text-size: 0.75rem;
$lblbtn-line-height: 1.25rem;
$lblbtn-text-weight: 700;