//Page header
$page-text-size: 1.5rem;
$page-line-height: 2rem;

//Section header
$section-text-size: 0.75rem;
$section-line-height: 1.25rem;

//Subheader
$sub-text-size: 0.8125rem;
$sub-line-height: 1.125rem;

//Body Copy
$body-text-size: 0.8125rem;
$body-line-height: 1.125rem;

//Labels and Buttons
$lblbtn-text-size: 0.625rem;
$lblbtn-line-height: 1.25rem;