@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


//font-size & line-height
//desktop & tablet
//h1
@mixin desktab-page-header {
  font-size: 2rem;
  line-height: 2.5rem;
}
//h2
@mixin desktab-sub-header {
  font-size: 1.5rem;
  line-height: 2rem;
}
//h3
@mixin desktab-lbls-btn {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
//h4
@mixin desktab-table-header {
  font-size: 0.75rem;
  line-height: 1.125rem;
}
//p1
@mixin desktab-body-l {
  font-size: 1rem;
  line-height: 1.75rem;
}
//p2
@mixin desktab-body-m {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
//p3
@mixin desktab-body-s {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

//mobile
//h1
@mixin mobile-page-header {
  font-size: 1.75rem;
  line-height: 2.25rem;
}
//h2
@mixin mobile-sub-header {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
//h3
@mixin mobile-lbls-btn {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
//h4
@mixin mobile-table-header {
  font-size: 0.6875rem;
  line-height: 1rem;
}
//p1
@mixin mobile-body-l {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}
//p2
@mixin mobile-body-m {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
//p3
@mixin mobile-body-s {
  font-size: 0.6875rem;
  line-height: 1rem;
}
