@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/padding" as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: $mobile-between-comp;
  background-color: $orange;

  @include apply-left-right-pad($mobile-between-comp, $mobile-between-comp);
  @include apply-top-bottom-pad(
    $mobile-before-headline,
    $mobile-before-headline
  );

  @include desktoptablet {
    gap: $desktoptablet-between-comp;

    @include apply-top-bottom-pad(
      $desktoptablet-before-headline,
      $desktoptablet-before-headline
    );
    @include apply-left-right-pad(
      $desktoptablet-between-comp,
      $desktoptablet-between-comp
    );
  }

  &__title {
    font-size: 15px;
    font-weight: 600;
  }

  &__item {
    font-size: 13px;
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: $mobile-between-comp;
    color: $jet;
    @include desktoptablet {
      font-size: 15px;
      gap: $desktoptablet-between-comp;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__list {
    list-style: none;
  }

  &__copyrights {
    font-size: 11px;
    font-weight: 600;
    align-self: center;
    color: $jet;
    @include desktoptablet {
      font-size: 12px;
    }
  }

  &__socials {
    @include desktoptablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__sections-socials {
    display: flex;
    flex-direction: column;
    gap: $mobile-between-comp;
    @include desktoptablet {
      gap: $desktoptablet-between-comp;
    }
  }

  &__logo {
    font-size: 24px;
    color: $snow;
    @include desktoptablet {
      font-size: 25px;
    }
  }

  &__social-media {
    display: flex;
    gap: 1vh;
  }

  &__icon {
    width: 30px;
    height: 30px;
    @include desktoptablet {
      width: 35px;
      height: 35px;
    }
  }
}
