@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/padding" as *;

.signup,
.login {
  height: fit-content;
  @include apply-top-bottom-mar(
    $mobile-before-headline,
    $mobile-before-headline
  );

  @include desktoptablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    color: $jet;
    text-align: center;
  }
}

.form {
  background-color: $orange;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: $mobile-between-comp;

  @include apply-top-bottom-mar(
    $mobile-before-headline,
    $mobile-before-headline
  );
  @include apply-top-bottom-pad(
    $mobile-before-headline,
    $mobile-before-headline
  );
  @include apply-left-right-mar($mobile-between-comp, $mobile-between-comp);
  @include apply-left-right-pad($mobile-between-comp, $mobile-between-comp);

  @include desktoptablet {
    width: 20rem;
    @include apply-top-bottom-mar(
      $desktoptablet-before-headline,
      $desktoptablet-before-headline
    );
    @include apply-top-bottom-pad(
      $desktoptablet-before-headline,
      $desktoptablet-before-headline
    );
    @include apply-left-right-pad(
      $desktoptablet-between-comp,
      $desktoptablet-between-comp
    );
  }

  &__title {
    color: $snow;
    font-weight: 400;
    text-align: center;
  }

  &__profile {
    width: 2.5rem;
    height: 2.5rem;
    align-self: center;
  }

  &__label {
    color: $blush;
    display: flex;
    flex-direction: column;
    font-size: 11px;
  }

  &__field {
    border-radius: 8px;
    border: 1px solid $blush;
    outline: none;
    padding: 0 0.5rem;
    min-height: 1.75rem;
    color: $jet;
  }

  &__submit {
    background-color: $snow;
    color: $blush;
    font-weight: 600;
    min-height: 1.75rem;
    border-radius: 8px;
    border: 1px solid $blush;
    width: 5rem;
    align-self: center;

    &:hover {
      background-color: $blush;
      color: $snow;
      border: 1px solid $snow;
      cursor: pointer;
      transition: background-color 1s;
      transition: color 1s;
      transition: border 1s;
    }
  }

  &__error {
    font-size: 9px;
    color: #E71F1F;
  }

  &__error-icon {
    width: 10px;
    height: 10px;
  }
}
